.container {
  height: 100%;
  margin-block: 30px;
  margin-inline: 50px;
  font-weight: 500;
  color: #2e3a69;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Una columna de un tercio y otra de dos tercios */
    gap: 20px; /* Espacio entre columnas */
    width: calc(100% - 100px); /* Ajustar el ancho considerando los márgenes */
  }

  .info-detail, .table-props {
    padding: 20px;
    box-sizing: border-box;
  }

  .header-detail, .header-table {
    display: flex;
    align-items: center; /* Alineación central verticalmente */
    gap: 10px; /* Espacio entre el botón y el título */
  }

  .detail-title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0px;
  }
  
  .detail-downloads p {
    font-size: 18px;
  }

  .detail-downloads ul {
    padding-left: 0px;
    font-size: 14px;
    list-style: none;
  }

  .download-archive {
    margin-top: 10px;
    margin-right: 30px;
    display: inline-grid;
    font-weight: 400;
    text-align: center;
  }

  .error-login {
    /* margin-bottom: 20px;
    padding-block: 10px; */
    /* border: 1px solid red;
    border-radius: 40px; */
    color: red;
    text-align: center;
    font-size: 16px;
    /* width: 30%; */
}

/* ------------------------------------------------------------------------------------ */

.table-props h2{
  color:#008ca1;
}

.table-props {
  color:#25a9bd;
}

.header-table p {
  margin-bottom: 0px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

td {
  /* border: 1px solid #ddd; */
  padding: 8px;
  text-align: left;
  width: 33.33%;
}

tbody td:first-child {
  text-align: right;
}

tbody td:nth-child(2) {
  /* background-color: red; */
  font-weight: 400;
}

tbody td:last-child {
  font-weight: 300;
  font-style: italic;
  text-align: right;
}

.fav-icon {
  color: #abdee6; /* Color azul por defecto */
}
