<div class="container">       
    <h1 class="detail-title">{{ detail.description }}</h1>
    <img [src]="'https://bedec.itec.cat/img/' + detail.idemp + '/' + detail.image" alt="{{ detail.description }}" width="350">
    <button mat-icon-button matTooltip="Añadir a favorito">
        <mat-icon>favorite</mat-icon>
    </button>
        <div class="detail-downloads">
            <p>Descargas</p>
            <ul *ngFor="let download of detail.downloads">
                <li>{{download.format}}
                    <ul>     
                        <li *ngFor="let formatItem of download.formatdown" class="download-archive">
                          <a [href]="'https://bedec.itec.cat/img/' + detail.idemp + '/' + formatItem.fitxer"><img src="../../../assets/images/doc.png" alt="icono download" width="50"></a>
                            {{formatItem.format}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <button mat-raised-button color="primary" class="button" [routerLink]="['/inicio']" type="button">Volver</button>

        <!-- <table mat-table>
          <ng-container *ngFor="let property of prop.values">
            <td mat-cell >{{property.prop}}</td>
            <td mat-cell >{{property.valor}}</td>
            <td mat-cell >{{property.obs}}</td>
          </ng-container>
        </table> -->
  </div> 


