.container {
  height: 100%;
  margin-block: 30px;
  margin-inline: 50px;
  font-weight: 500;
  color: #2e3a69;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  /* gap: 20px; */
  /* width: calc(100% - 100px);  Ajustar el ancho considerando los márgenes */
}

.info-detail,
.table-props {
  padding: 20px;
  box-sizing: border-box;
}

.header-detail,
.header-table {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail-title {
  margin-bottom: 0px;
  font-size: 22px;
  font-weight: 500;
}

.detail-downloads p:first-child, .detail-related p {
  font-size: 18px;
  margin-block: 50px 30px;
}

.detail-downloads ul {
  padding-left: 0px;
  font-size: 14px;
  list-style: none;
  margin-left: 10px;
}

.download-archive {
  margin-top: 10px;
  margin-right: 30px;
  display: inline-grid;
  text-align: center;
  font-weight: 400;
}

li {
  float: left;
}

.error-login {
  text-align: center;
  font-size: 16px;
  color: red;
}

.table-props h2 {
  color: #008ca1;
}

.table-props {
  color: #25a9bd;
}

.header-table p {
  margin-bottom: 0px;
  font-size: 16px;
}

table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 8px;
  /* width: 33.33%; */
  text-align: left;
}

tbody td:first-child {
  text-align: right;
  width: 30%;
}

tbody td:nth-child(2) {
  font-weight: 400;
  width: 20%;
}

tbody td:last-child {
  font-weight: 300;
  font-style: italic;
  text-align: right;
}

.fav-icon {
  color: #abdee6;
}

tr:nth-child(even) {
  background-color: #F4FCFE;
}

.link-bedec mat-icon {
  display: block;
  color:#25a9bd;
}

.link-bedec mat-icon:hover {
  color: #2e3a69;
}

.back-button {
  margin-top: 30px;
}

::ng-deep .mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color:#25a9bd;
}

::ng-deep .mat-mdc-raised-button:hover .mat-mdc-button-persistent-ripple::before {
  opacity: 0.4;
}

::ng-deep #table-group .mat-mdc-tab {
  padding-inline: 0px;
}

::ng-deep #table-group .mdc-tab--active {
  background-color: #D9F4F9;
  border-radius: 15px;
}

::ng-deep .mat-mdc-tab-group {
  /* Tengo que pintar el background */
  --mdc-tab-indicator-active-indicator-color: transparent;
  --mat-tab-header-active-label-text-color: #007283;
  --mat-tab-header-active-ripple-color: white;   /* Background del hover del activo atenuado*/

  --mat-tab-header-inactive-ripple-color: #D9F4F9; 
  --mat-tab-header-inactive-label-text-color: #007283;
  --mat-tab-header-inactive-hover-label-text-color:#25a9bd;  /* Hover del título no seleccionado */

  --mat-tab-header-active-hover-label-text-color: #007283;  /* Hover del título seleccionado, posición actual */
  --mat-tab-header-active-hover-indicator-color: transparent;

  --mat-tab-header-active-focus-label-text-color: #007283;
  --mat-tab-header-active-focus-indicator-color: transparent;
}

::ng-deep .mat-mdc-tab-header {
  --mat-tab-header-label-text-size: 16px; 
  background-color: white;
  border: solid 3px #D9F4F9;
  border-radius: 20px;
}

