.productCell {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image {
  width: auto;
  height: 100%;
  margin-right: 10px;
}

.image img {
  width: auto;
  height: 70px;
  display: block;
  align-content: center;
}

.productCell div {
  padding-bottom: 0;
  line-height: 1.5;
}

.productCell img {
  border-radius: 8px;
}