/* .ng-valid:not(form).ng-touched {
    border-left: 5px solid green;
}

.ng-invalid:not(form).ng-touched {
    border-left: 5px solid red;
} */

/* input.ng-invalid.ng-touched {
    border-left: 5px solid red;
} */

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;
}