.container h1{
    margin-block: 50px 40px;
    font-weight: 600;
    color:#25a9bd;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;
}

.error-message {
    margin-bottom: 20px;
    color: red;
}