<div class="container">
  <div class="row">
    <div>
      <form [formGroup]="upForm" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field class="full-width">
          <mat-label for="email">Correo electrónico</mat-label>
          <input type="email" matInput id="email" formControlName="email" class="form-control" required>
          @if (emailFormControl.hasError('required')) {
            <mat-error>El correo electrónico es <strong>requerido</strong></mat-error>
          } 
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label for="password">Contraseña</mat-label>
          <input type="password" matInput id="password" formControlName="password" class="form-control" required>
            @if (passwordFormControl.hasError('required')) {
              <mat-error>La contraseña es <strong>requerida</strong></mat-error>
            }
        </mat-form-field>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <button mat-raised-button type="submit" [disabled]="!upForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
  