.listing {
    border-radius: 30px;
}

.listing-heading {
    color: #8d8d8d;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.listing-image {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 0px 0px;
    margin-bottom: 10px;
}

mat-card-actions {
    padding: 0px;
}

mat-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fav-icon {
    color: #abdee6; /* Color azul por defecto */
}

.fav-icon:disabled {
    color: #d3d3d3; /* Color gris para el estado deshabilitado */
}
