.listing {
    border-radius: 30px;
    padding-bottom: 1px;
}

.listing-heading {
color: #8d8d8d;
font-size: 14px;
font-weight: 500;
line-height: 20px;
}

.listing-image {
height: auto;
width: 100%;
object-fit: cover;
border-radius: 30px 30px 0 0;
}
/* .listing-date {
padding: 10px 20px 20px 20px;
}
.listing-date::before {
content: url("/assets/images/calendar.png") / "";
} */

mat-card-actions {
    padding: 0px;
}

/* .listing mat-icon {
    color: #bdbdbd;
} */


.listing mat-icon:cli {
    color: #bdbdbd;
}

section.listing a {
padding-left: 20px;
text-decoration: none;
color: var(--primary-color);
}

section.listing a::after {
content: "\203A";
margin-left: 5px;
}

mat-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.active {
    color: red;
}