<div class="all flex-col flex-grow">
    <div class="flex height flex-col flex-grow">
        <resizable direction="vertical">
            <div class="flex-col flex-grow">
                <mat-drawer-container class="container">
                    <mat-drawer-content class="content">
                        <section class="results">
                            <app-object-bim *ngFor="let bim of rowData"  [objectBim]="bim"/>
                        </section>
                    </mat-drawer-content>
                </mat-drawer-container>
            </div>
        </resizable>
        <div class="content-grid">
            <ag-grid-angular
            class="ag-theme-quartz"
            id="maria"
            [rowData]="rowData"
            [columnDefs]="colDefs"
            [defaultColDef]="defaultColDef"
            />
        </div>
    </div>
</div>