.container h1{
margin-block: 50px 40px;
text-align: center;
font-weight: 600;
color:#25a9bd;
}

.row {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;
}

mat-checkbox {
    margin-bottom: 10px;
}

.error-message {
    margin-bottom: 20px;
    color: red;
}

.success-message {
    margin-bottom: 20px;
    padding-block: 20px;
    background-color: #abdee6;
    border-radius: 40px;
    color: #2e3a69;
    text-align: center;
    font-size: 20px;
}