<div class="container">
  <h1>Formulario de registro</h1>
  <div class="row">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
      <mat-form-field class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" id="username" formControlName="username" required>
        @if (username.hasError('required')) {
          <mat-error>El nombre es <strong>requerido</strong></mat-error>
        } 
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Apellido</mat-label>
        <input matInput type="text" id="lastname" formControlName="lastname" required>
        @if (lastname.hasError('required')) {
          <mat-error>El apellido es <strong>requerido</strong></mat-error>
        } 
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Empresa</mat-label>
        <input matInput type="text" id="company" formControlName="company">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label for="email">Correo electrónico</mat-label>
        <input matInput type="email" id="email" name="email" formControlName="email" required>
        @if (email.hasError('required')) {
          <mat-error>El correo electrónico es <strong>requerido</strong></mat-error>
        } 
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password" required>
        @if (password.hasError('required')) {
          <mat-error>La contraseña es <strong>requerido</strong></mat-error>
        } 
        <button mat-icon-button matSuffix type="button" (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <!-- <span *ngIf="!registerForm.valid && registerForm.touched" class="help-ms">Por favor introduzca datos válidos</span> -->
      <mat-checkbox class="full-width" formControlName="privacyPolicy" required><a href="https://itec.es/itec/privacidad/">Acepto la política de privacidad</a></mat-checkbox>

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
      <button mat-raised-button type="submit" [disabled]="!registerForm.valid">
        Crear cuenta
      </button>
      </form>
  </div>
</div>

  