.container h1{
    margin-block: 50px 40px;
    font-weight: 600;
    text-align: center;
    color:#25a9bd;
}

.row {
    display: flex;
    justify-content: center;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;
}

mat-checkbox {
    margin-bottom: 10px;
}

.error-message {
    margin-bottom: 20px;
    color: red;
}

.success-message {
    margin-bottom: 20px;
    padding-block: 20px;
    font-size: 20px;
    color: #2e3a69;
    text-align: center;
    background-color: #abdee6;
    border-radius: 40px;
}