<header class="menu">

  <a href="https://itec.es/"><img alt="Logo de ITeC" src="assets/images/ITeC.png" class="itec-icon"/></a>

  <button mat-button>
    <span><a routerLink="/inicio" target="_blank">Genéricos eCOB&reg;</a></span>
  </button>

  <button mat-button>
    <span><a routerLink="/fabricantes" target="_blank">Fabricantes</a></span>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="User icon with a menu"  class="user-icon">
    <!-- <img alt="Perfil" src="assets/images/usuario.png" class="user-icon"/> -->
    <mat-icon class="user-login">account_circle</mat-icon>
  </button>
  
  <mat-menu #menu="matMenu" class="icon-menu">
    <button mat-menu-item>
      <mat-icon class="icon-login">login</mat-icon>
      <span><a routerLink="/iniciar-sesion" target="_blank">Iniciar sesión</a></span>
    </button>
    <button mat-menu-item>
      <mat-icon class="icon-login">logout</mat-icon>
      <span> <a routerLink="/registrarse" target="_blank">Cerrar sesión</a></span>
    </button>
  </mat-menu>
</header>
