.menu {
  display: flex;
  align-items: center;
  /* Centra verticalmente los elementos */
  padding: 10px;
  /* Ajusta el padding según sea necesario */
}


.button-group {
  display: flex;
  gap: 5vw;
  /* Espacio entre los botones */
  margin-left: 5vw;
}

.user-menu {
  display: flex;
  position: absolute;
  right: 3vw;
}

header {
  display: flex;
  align-items: center;
  /* Centra verticalmente los elementos */
  padding: 10px 50px;
  background: linear-gradient(to right, #abdee6, #25a9bd);
}


@media (max-width: 550px) {
  .button-group {
    display: block;
    gap: 3vw;
    margin-left: 3vw;
    margin-right: 10vw;
  }
}

.menu button {
  color: #2e3a69;
  font-size: 18px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  padding: 5px;
}

.search-icon {
  width: auto;
  height: 15px;
}

.itec-icon {
  width: auto;
  height: 50px;
  margin-left: 3vw;
}

.user-icon {
  transform: scale(2);
}

.mat-icon.notranslate.user-login.material-icons.mat-ligature-font.mat-icon-no-color {
  color: white;
}

.mat-icon.notranslate.icon-login.material-icons.mat-ligature-font.mat-icon-no-color {
  color: #25a9bd;
}