.menu {
  padding: 10px 50px;
  top: 0px;
  display: flex;
  position: sticky;
  align-items: center;
  background: linear-gradient(to right, #abdee6, #25a9bd);
  z-index: 100;
}

.button-group {
  margin-left: 5vw;
  display: flex;
  gap: 5vw; /* Espacio entre los botones */
}

#title-header {
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.user-menu {
  position: absolute;
  right: 3vw;
  display: flex;
}

/* header {
  padding: 10px 50px;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #abdee6, #25a9bd);
} */

@media (max-width: 550px) {
  .button-group {
    margin-left: 3vw;
    margin-right: 10vw;
    display: block;
    gap: 3vw;
  }
}

.menu button {
  font-size: 18px;
  color: #2e3a69;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  padding: 5px;
}

.search-icon {
  width: auto;
  height: 15px;
}

.itec-icon {
  /* margin-left: 3vw; */
  top: 5px;
  width: auto;
  height: 30px;
  position: fixed;
}

.user-icon mat-icon{
  transform: scale(2);
}

h3 {
  font-weight: 500;
  font-size: 18px;
  color: #2e3a69;
  padding: 10px;
  margin-bottom: 0px;
}

/* Color del icono de usuario */
.mat-icon.notranslate.user-login.material-icons.mat-ligature-font.mat-icon-no-color {
  color: white;
}
/* Color de los iconos del menú del usuario */
.mat-icon.notranslate.icon-login.material-icons.mat-ligature-font.mat-icon-no-color {
  color: #25a9bd;
}

.custom-menu {
  padding: 10px;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  padding: 10px;
}

.menu-item {
  text-align: center;
  font-weight: 500;
  color: #2e3a69;
  cursor: pointer;
}

.menu-item:hover {
  background: #D9F4F9;
  border-radius: 30px;
}

.menu-item span {
  font-size: 16px;
}

.menu-icon {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto 5px;
}

::ng-deep #mat-menu-panel-0 {
  width: 100%;
  max-width: 100%;
  padding-inline: 50px;
  background-color: #EAFFC8;
  left: 0;
  margin-top: 10px;
  position: fixed;
}

/* ::ng-deep #cdk-overlay-0 {
  left: 0px;
  margin-top: 20px;
  width: 100%;
} */






/* stylelint-disable */
::ng-deep #toolbarEntitats.mat-toolbar {
  padding-inline: 50px;
  background-color: #2e3a69;
  color: #ffffff;
  height: 40px;
}

.header-icon {
  right: 3vw;
  position: fixed;
  display: flex;
  gap: 30px;
}

.header-icon .mat-icon {
  align-items: center;
  display: flex;
}

.mat-toolbar .mat-mdc-button-base.mat-mdc-button-base.mat-unthemed{
  color:white;
}
/* .lang-button {
  right: 3vw;
  position: absolute;
  display: flex;
}

.header-inline {
  display: grid;
  grid-template-columns: repeat(2,1fr);
} */
 