<div class="first-bloc">
    <img src="../../../assets/images/image_exemple.png" class="imageExemple">
    <div class="columnText">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus mi  id sem tempor, quis pellentesque mauris auctor. Nulla vestibulum non  nisi sit amet viverra.</p>
        <a href="https://itec.cat/serveis/bim/">Enlace a la web <img src="../../../assets/images/Arrow 1.png"></a>
    </div>
    <div class="columnService">
        <img src="../../../assets/images/icon_productos.png" class="iconProduct">
        <a>Publique sus productos</a>
    </div>
    <div class="columnService">
        <img src="../../../assets/images/icon_registro.png" class="iconRegister">
        <a>Regístrese gratis</a>
    </div>
</div>
<mat-drawer-container class="container">
    <mat-drawer-content class="content">
        <section class="results">
            <app-object-bim *ngFor="let bim of bims"  [objectBim]="bim"/>
        </section>
    </mat-drawer-content>
</mat-drawer-container>