<div class="example-action-buttons">
    <!-- <button mat-button (click)="accordion.openAll()">Desplegar</button> -->
  </div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Estándar eCOB
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list>
        <mat-list-option color="primary" (click)="onFilterChange('ecob', 'Sí')">
          Sí
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
    <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Formato
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list>
        <mat-list-option *ngFor="let option of formatoOptions" [value]="option.value" color="primary" (click)="onFilterChange('formato', option.value)">
          {{ option.value }}
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel> -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sistema
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let sistemaG of sistemasG" [value]="sistemaG.label" color="primary" (click)="onFilterChange('sistemaG', sistemaG.label)">
          {{ sistemaG.label }}
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
    <!-- <mat-expansion-panel class="sub-option">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Subsistema
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let subsistema of subsistemasG" [value]="subsistema.label" color="primary" (click)="onFilterChange('subsistema', subsistema.value)">
          {{ subsistema.label }}
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel> -->
  </mat-accordion>