.row {
    margin: 30px 50px;
    padding: 10px 0;
    color: #2e3a69;
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
    display: grid;
    grid-template-columns: 1fr 3fr; /* Una columna de un tercio y otra de dos tercios */
    gap: 20px; 
    width: calc(100% - 100px); /* Ajustar el ancho considerando los márgenes */
    
  }  

.row li {
  margin-block: 20px;
  padding: 10px 20px;
  font-size: 16px;
  list-style: none;
  background-color: #ddf2f5;
  border-radius: 10px;
  min-width: 300px;
}

.personal-info {
  padding: 20px;
  box-sizing: border-box;
}

.user-favorite {
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
}

/* .user-favorite ul {
  display: flex;
  flex-wrap: wrap;
} */

.user-favorite li {
  margin-inline: 20px;
  padding: 30px 30px;
  border-radius: 20px;
  background-color: #abdee6;
}

.fav {
  display: inline-block;
  margin: 10px;
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

.fav-card {
  border-radius: 30px;
  width: 200px;
  justify-content: space-between; /* Distribuye el espacio entre los hijos */
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

.fav-heading {
  color: #8d8d8d;
  font-size: 14px;
}

.fav-image {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 0px 0px;
  margin-bottom: 10px;
}

mat-card-actions {
  padding: 0px;
}

mat-card {
  display: flex;
  flex-direction: column;

}