.row {
    /* border: 1px solid #ccc; */
    margin: 50px 50px;
    padding: 10px 0;
    display: flex;
    width: 100%;
    color: #2e3a69;
  }  

.row li {
  margin-block: 20px;
  padding: 10px 20px;
  font-size: 16px;
  list-style: none;
  background-color: #ddf2f5;
  border-radius: 10px;
  min-width: 300px;
}

.personal-info {
  margin-right: 10%;
}

.user-favorite ul {
  display: flex;
  flex-wrap: wrap;
}

.user-favorite li {
  margin-inline: 20px;
  padding: 30px 30px;
  border-radius: 20px;
  background-color: #abdee6;
}

.listing {
  border-radius: 30px;
  padding-bottom: 1px;
}

.listing-heading {
  color: #8d8d8d;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.listing-image {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 0px 0px;
  margin-bottom: 10px;
}

mat-card-actions {
  padding: 0px;
}


/* .listing mat-icon:cli {
  color: #bdbdbd;
} */


mat-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}