<div class="row">
  <div class="personal-info" *ngIf="userData">
    <h2>Datos personales:</h2>
    <ul>
      <li>Nombre: <b>{{ userData.username }}</b></li>
      <li>Apellido: <b>{{ userData.lastname }}</b></li>
      <li>Empresa: <b>{{ userData.company }}</b></li>
      <li>Correo electrónic: <b>{{ userData.email }}</b></li>
    </ul>
  </div>
  <div class="user-favorite">
    <h2>Favoritos:</h2>
    <!-- <ul *ngFor="let object of favoriteObjects">
          <li>{{object}}</li>
        </ul> -->
    <div *ngFor="let object of favoriteObjects" class="fav">
      <mat-card class="fav-card">
        <mat-card-actions>
          <button mat-icon-button matTooltip="Eliminar de favorito" (click)="toggleFavList(object.id)">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-card-actions>
        <mat-card-content>
          <img mat-card-image class="fav-image"
            [src]="'https://bedec.itec.cat/img/' + object.idemp + '/' + object.image" alt="{{ object.description }}" />
          <p class="fav-heading">{{ object.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>