.container {
  height: 100vh;
}

.content {
  padding-bottom: 50px;
}

.sidenav {
  max-width: 330px;
  border: 0px;
  background-color: #fafafa;
  /* position: sticky; */
}

/* Para que no quede oculto el último filtro. Problema con scroll */
/* .accordion-last, .mat-accordion > .mat-expansion-panel-spacing:last-child, .mat-accordion > :last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
  margin-bottom: 25%; 
} */

.mat-list-item {
  font-size: 12px;
}

.mat-mdc-list-option {
  padding-left: 0px;
}

.mat-mdc-icon-button {
  color: #2e3a69;
  background-color: #aadee6;
  border-radius: 0px;
}

.mat-mdc-icon-button:hover {
  color: white;
  background-color: #2e3a69;
  border-radius: 0px;
}

.example-action-buttons {
  padding-bottom: 10px;
}

.sub-option {
  padding-left: 10px;
}

::ng-deep .toolfilter {
  --mdc-plain-tooltip-container-color:#46B6C7;
}

.results {
  margin: 30px 50px 30px 50px;
  display: grid;
  justify-content: space-around;
  /* column-gap: 10px; */
  row-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(210px, 210px));
}

::ng-deep .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked {
  display: none;
}

.selected-value {
  position: absolute;
  right: 10px;
  color: #2e3a69;
}

#search {
  float: inline-end;
  border: 0px white;
}

#search mat-icon {
  color: #25a9bd;
}

::ng-deep #search .mat-mdc-text-field-wrapper,
::ng-deep #search .mat-mdc-form-field-flex {
  height: 40px;
  background-color: white;
}

::ng-deep #search .mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding-top: 10px;
}

::ng-deep #search .mat-mdc-form-field-bottom-align::before,
::ng-deep #filterSis .mat-mdc-form-field-bottom-align::before {
  display: none;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 100;
}

.buttonAll{
  color: white;
  background-color: #46B6C7;
  height: 48px;
}

.buttonAll button {
  height: 48px;
  font-size: 12px;
  font-weight: 400;
}

::ng-deep .mat-mdc-button:not(:disabled) {
  color: white;
}

.grid-complete {
  margin-top: 30px;
  margin-inline: auto;
  display: block;
  background-color:#46B6C7;
}

.icon-grid {
  right: 0px;
  position: absolute;
}

.icon-grid mat-icon {
  transform: scale(2);
}