.container {
  height: 100vh;
}

.content {
  padding-bottom: 50px;
}

.sidenav {
  max-width: 330px;
  border: 0px;
  background-color: #fafafa;
}

.mat-list-item {
  font-size: 12px;
}

.mat-mdc-list-option {
  padding-left: 0px;
}

.mat-mdc-icon-button {
  color: #2e3a69;
  background-color: #aadee6;
  border-radius: 0px;
}

.mat-mdc-icon-button:hover {
  color: white;
  background-color: #2e3a69;
  border-radius: 0px;
}

.example-action-buttons {
  padding-bottom: 10px;
}

.sub-option {
  padding-left: 10px;
}

.results {
  margin: 30px 50px 30px 50px;
  display: grid;
  justify-content: space-around;
  /* column-gap: 20px; */
  row-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(210px, 210px));
}

::ng-deep .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked {
  display: none;
}

.selected-value {
  position: absolute;
  right: 10px;
  color: #2e3a69;
}

#search {
  float: inline-end;
  border: 0px white;
}

#search mat-icon {
  color: #25a9bd;
}

::ng-deep #search .mat-mdc-text-field-wrapper,
::ng-deep #search .mat-mdc-form-field-flex {
  height: 40px;
  background-color: white;
}

::ng-deep #search .mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding-top: 10px;
}

::ng-deep #search .mat-mdc-form-field-bottom-align::before,
::ng-deep #filterSis .mat-mdc-form-field-bottom-align::before {
  display: none;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 100;
}