<mat-drawer-container class="container">
  <mat-drawer-content class="content">
    <button mat-icon-button (click)="drawer.toggle()" class="sticky">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-form-field id="search" class="sticky">
      <input type="text" matInput [(ngModel)]="searchTerm" placeholder="Buscar" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <section class="results">
        <app-object-bim *ngFor="let bim of bims | filterBy: ['description']: this.searchTerm | filterBy: ['ecob']: this.selectedEcob | filterBy: ['sistema']: this.selectedSistema | filterBy: ['subsistema']: this.selectedSubsistema | filterBy: ['IfcBuildingElement']: this.selectedIfcBuildingElement | filterBy: ['classeBimITeC']: this.selectedElementosBimItec"  [objectBim]="bim"/>
        <!-- | filterBy: ['downloads.format']: this.selectedFormato  -->
    </section>
  </mat-drawer-content>
  <mat-drawer #drawer mode="side" class="sidenav">
    <!-- <div>
      <button mat-button (click)="accordion.closeAll()">Cerrar todo</button>
    </div> -->
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Estándar eCOB
          </mat-panel-title>
        </mat-expansion-panel-header>
            <mat-selection-list [(ngModel)]="selectedEcob">
              <mat-list-option *ngFor="let ecob of ecobs" [value]="ecob.label" color="primary">
                {{ ecob.label }}
              </mat-list-option>
          </mat-selection-list>
      </mat-expansion-panel>
      <!-- <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Formato
          </mat-panel-title>
        </mat-expansion-panel-header>
          <mat-selection-list [(ngModel)]="selectedFormato">
            <mat-list-option *ngFor="let formato of formatos" [value]="formato.label" color="primary">
              {{ formato.label }}
            </mat-list-option>
          </mat-selection-list>
      </mat-expansion-panel> -->

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Sistema
          </mat-panel-title>
        </mat-expansion-panel-header>
          <mat-selection-list [(ngModel)]="selectedSistema">
            <mat-list-option *ngFor="let sistemaG of sistemasG" [value]="sistemaG.label" color="primary">
              {{ sistemaG.label }}
            </mat-list-option>
          </mat-selection-list>
      </mat-expansion-panel>

      <mat-expansion-panel class="sub-option">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Subsistema
          </mat-panel-title>
        </mat-expansion-panel-header>
          <mat-selection-list [(ngModel)]="selectedSubsistema">
            <mat-list-option *ngFor="let subsistemaG of subsistemasG" [value]="subsistemaG.label" color="primary">
            <!-- <mat-list-option *ngFor="let subsistemaG of subsistemasG" [value]="subsistemaG.label" [disabled]="subsistemaG.disabled" color="primary"> -->
              {{ subsistemaG.label }}
            </mat-list-option>
          </mat-selection-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            IfcBuildingElement
          </mat-panel-title>
        </mat-expansion-panel-header>
          <mat-selection-list [(ngModel)]="selectedIfcBuildingElement">
            <mat-list-option *ngFor="let ifcBuildingElementG of ifcBuildingElementsG" [value]="ifcBuildingElementG.label" color="primary">
              {{ ifcBuildingElementG.label }}
            </mat-list-option>
          </mat-selection-list>
      </mat-expansion-panel>
      <mat-expansion-panel class="sub-option">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Elementos Bim ITeC
          </mat-panel-title>
        </mat-expansion-panel-header>
          <mat-selection-list [(ngModel)]="selectedElementosBimItec">
            <mat-list-option *ngFor="let elementoBimItecG of elementosBimItecG" [value]="elementoBimItecG.label" color="primary">
              {{ elementoBimItecG.label }}
            </mat-list-option>
          </mat-selection-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>
</mat-drawer-container>
