
<mat-button-toggle-group #group="matButtonToggleGroup" value="Asc" id="order">
  <mat-button-toggle (click)="sortbimsAsc()" value="Asc" aria-label="Object BIM order asc" >
    <mat-icon>arrow_upward</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle (click)="sortbimsDesc()" value="Desc" aria-label="Object BIM order desc">
    <mat-icon>arrow_downward</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
<div class="selected-value">Orden: {{group.value}}</div>

  <mat-form-field class="search">
    <input type="text" matInput [(ngModel)]="searchTerm" placeholder="Buscar" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

<section class="results">
    <app-object-bim *ngFor="let bim of bims | filterBy: ['description']: this.searchTerm" [objectBim]="bim" />
</section>