
<mat-button-toggle-group #group="matButtonToggleGroup" value="Asc" id="order">
  <mat-button-toggle (click)="sortbimsAsc()" value="Asc" aria-label="Object BIM order asc" >
    <mat-icon>arrow_upward</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle (click)="sortbimsDesc()" value="Desc" aria-label="Object BIM order desc">
    <mat-icon>arrow_downward</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
<div class="selected-value">Orden: {{group.value}}</div>

<section class="results">
    <!-- <app-object-bim *ngFor="let objectBim of objectBimList" [objectBim]="objectBim" /> -->
    <app-object-bim *ngFor="let bim of bims" [objectBim]="bim" />
</section>